.container_header {
  width: 100%;
  height: 70px;
  background-color: #b80f29;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  flex-wrap: nowrap;

  ul {
    margin: 10px;

    li {
      display: inline-block;
      text-decoration: none;
      font: 16px sans-serif;
      width: 100px;
      margin: 10px;
      a:link {
        text-decoration: black;
        color: white;
      }

      a:visited {
        color: white;
        text-decoration: none;
      }
      a:hover {
        font-weight: bold;
      }
    }
  }

  h1 {
    font-weight: 100;
    margin: 10px;
  }
}
