.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto 0;
  justify-content: center;
}
.container-goods {
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
